---
title: "Exploring Data Structures"
teaching: 45
exercises: 10
questions:
- "Fill this in!"
objectives:
 - "to be able to understand and use some basic tools to manipulate dataframes"
 - "to be able to understand and use tools to create a subset of data based on logical filtering"
 - "to reinforce use of basic summarizing methods with the data"
keypoints:
- "Same verse!"
---

## Part 3.1 Exploring and Understanding Data

Looking at the data you are given is pretty basic stuff. But to generate actual insights, you are going to need to be exploring the data, diving into it.  In the world of python, this usually means working with a library or package you have already been introduced to called pandas. 




  "to be able to understand and use some basic tools to manipulate dataframes"
  "to be able to understand and use tools to create a subset of data based on logical filtering"
  "to reinforce use of basic summarizing methods with the data"





## BEFORE STARTING!!

In [3]:
#| output: false    
import pandas as pd
URL = "https://raw.githubusercontent.com/bcgov/ds-intro-to-python/main/data/gapfinder.csv"
df = pd.read_csv(URL)

In [4]:
df.head()

adsfasfd

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106